<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>LinkedGov TaskHopper</display-name>
    <listener>
        <description>
            ApplicationSettings loads settings from web.xml when the server starts.
        </description>
        <listener-class>org.linkedgov.taskhopper.http.ApplicationSettings</listener-class>
    </listener>

    <!-- jersey -->
    <servlet>
        <servlet-name>Jersey</servlet-name>
        <servlet-class>
                com.sun.jersey.spi.container.servlet.ServletContainer
        </servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>org.linkedgov.taskhopper.http</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Jersey</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <!-- servlet listing -->
    <servlet>
        <servlet-name>DispatchServlet</servlet-name>
        <servlet-class>org.linkedgov.taskhopper.http.DispatchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InputServlet</servlet-name>
        <servlet-class>org.linkedgov.taskhopper.http.InputServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportServlet</servlet-name>
        <servlet-class>org.linkedgov.taskhopper.http.ImportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OutputServlet</servlet-name>
        <servlet-class>org.linkedgov.taskhopper.http.OutputServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>org.linkedgov.taskhopper.http.UpdateServlet</servlet-class>
    </servlet>

    <!-- Map all the /task URLs to DispatchServlet, which farms them out to the
         individual servlets. -->
<!--    <servlet-mapping>
        <servlet-name>DispatchServlet</servlet-name>
        <url-pattern>/task</url-pattern>
        <url-pattern>/task/*</url-pattern>
    </servlet-mapping>-->

    <!-- define environmental variables -->
    <env-entry>
        <env-entry-name>exist-hostname</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <!-- The hostname of the eXist database. -->
        <env-entry-value>localhost</env-entry-value>
    </env-entry>
    
    <env-entry>
        <env-entry-name>exist-port</env-entry-name>
        <env-entry-type>java.lang.Integer</env-entry-type>
        <!-- The port number of the eXist database. -->
        <env-entry-value>8080</env-entry-value>
    </env-entry>

    <env-entry>
        <env-entry-name>exist-username</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <!--
            Username used to authenticate with the eXist database.
            May be blank: if blank, no authentication is used.
        -->
        <env-entry-value></env-entry-value>
    </env-entry>

    <env-entry>
        <env-entry-name>exist-password</env-entry-name>
        <!--
            Password used to authenticate with the eXist database.
            May be blank. Not used if username is not set or is empty.
        -->
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value></env-entry-value>
    </env-entry>
</web-app>
